{% extends 'base.html' %}

{% block title %}Projects list{% endblock %}

{% block content %}
    <div class="ml-5">
        <h1 class="mb-5"> Your projects: </h1>
        <div class="col-9 mb-5 d-flex flex-row-reverse">
            <a href="{% url 'add-project' %}" class="btn btn-outline-dark w-10 shadow">ADD NEW</a>
        </div>
        {% for object in object_list %}
            <div class="row">

                <div class="col-4">
                    <ul>
                        <li> <a href="{% url 'project-detail' object.id %}">{{ object }}</a> </li>
                    </ul>
                </div>
                <div class="col-3">
                    <p>Status: <br/> {{ object.status }}</p>
                </div>
                <div class="col-3">
                    <p>Till deadline: <br/> {{ object.calculate_days_left_til_deadline }}</p>
                </div>
            </div>

            <hr class="mr-5 bg-light">

        {% endfor %}
    </div>
{% endblock content %}
