{% extends 'base.html' %}

{% block title %}Projects list{% endblock %}

{% block content %}
    <div class="ml-5">
        <h1 class="mb-5"> Your projects: </h1>
        {% for object in object_list %}
            <div class="row">
                <div class="col-4">
                    <ul>
                        <li> <a href="#">{{ object }}</a> </li>
                    </ul>
                </div>
                <div class="col-3">
                    <p>Status: <br/> {{ object.status }}</p>
                </div>
                <div class="col-3">
                    <p>Till deadline: <br/> {{ object.calculate_days_left_til_deadline }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
